body {
    background: url('../../img/fundo.png');
    font: 18px Arial, helvetica, sans-serif;
}

#main {
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 20px;
    text-align:justify
}

#content {
    background: #e8e8d9;
    padding: 10px;
}

#footer {
    background: #c5c5b2;
    text-align:center;
    padding: 20px;
}

.img-campaign {
    border: 10px solid #c3c3ae;
}

h1 {
    color: #828271;
    
    font-size: 1.2em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #4b566a;
    padding: 5px;
}